@page "/dashboard"

@using TestBlazorApp.Components.Controls

<div class="p-[40px] md:px-12  md:py-12 lg:pb-[100px] xl:py-[80px] xl:px-[80px] h-screen flex flex-col overflow-scroll">
    <header>
        <MainNavbar />
    </header>
    <main class="flex flex-col xl:flex-row justify-between h-full gap-10">
        <section class="hidden xl:flex h-full flex-col justify-between w-[340px]">
            <Categories />
            <Filters />
        </section>
        <section class="flex flex-col justify-between w-full">
            <div class="gap-10">
                <Products />
                <section class="xl:hidden flex xl:h-full xl:flex-col justify-between  mt-[20px]">
                    <Categories />
                    <Filters />
                </section>
                <ProductInfo />
            </div>
            <div class="hidden xl:flex justify-center">
                <div class="flex flex-col align-center w-[500px] rounded-[15px]">
                    <MudPagination
                        Rectangular="true"
                        Variant="Variant.Text"
                        Count="7"
                        Class="bg-[var(--mud-palette-secondary)] py-[10px] rounded-[18px]" />
                </div>
            </div>
        </section>
    </main>
</div>

@* @page "/dashboard"
@rendermode InteractiveServer

@using Freshlay.Web.Components.Controls

<div class="px-[30px] md:px-12 py-[50px] md:py-12 lg:pb-[100px] xl:py-[80px] xl:px-[80px] h-full xl:h-screen flex flex-col">
    <header>
        <MainNavbar />
    </header>
    <main class="flex h-full">
        <section class="hidden xl:flex h-full flex-col justify-between w-[600px]">
            <Categories />
            <Filters />
        </section>
        <section class="w-[1460px] overflow-hidden">
            <Products />
            <ProductInfo />
            
        </section>
    </main>
</div> *@

