@page "/"
@using Microsoft.Extensions.Logging

@using TestBlazorApp.Components.Controls
@using TestBlazorApp.Components.Sections
@using TestBlazorApp.Components.Sections.FAQ
@using MudBlazor

<PageTitle>Home - Freshlay</PageTitle>
    
    <section>
        <Join />
    </section>
    <section>
        <HowItWorks />
    </section>
    <section>
        <Benefits />
    </section> 
    <section>
        <ClientReviews />
    </section>
    <section>
        <FeaturedProducts />
    </section>
    <section>
        <FAQ />
    </section> 
    <section>
        <Download />
    </section> 
    <footer>
        <Links />
    </footer>



