<section class="">
    <div class="py-12 items-center grid xl:grid-cols-5 gap-6 overflow-scroll">
        <div class="h-[156px] xl:h-[530px] flex xl:flex-col rounded-[18px] shadow-lg">
            <div class="w-[156px] xl:w-full h-full bg-[var(--mud-palette-secondary)] flex justify-center items-center relative !rounded-[18px]">
                <div class="absolute top-[10px] left-[10px] xl:top-[15px] xl:left-[15px] bg-[var(--mud-palette-white)] text-[14px] text-center w-[70px] rounded-[5px]">
                    <p>Promoted</p>
                </div>
                <div class="w-[110px] xl:w-[180px]">
                    <MudImage Src="assets/products/carrots.png"/>
                </div>
            </div>
            <ProductDetails />
        </div>
        <div class="hidden xl:block xl:h-[530px]">
            <div class="w-full h-[270px] bg-[#FBC600] bg-[url('assets/dashboard/yellow-bg.svg')] flex justify-center items-center relative rounded-[18px]">
            </div>
            <div class="px-[20px] pt-[30px] rounded-[18px] shadow-lg h-[261px]">
                <p class="text-[22px]">Collect Rewards For Every Dollar You Spend.</p>
            </div>
        </div>
        <div class="xl:hidden h-[156px] xl:h-[530px] flex xl:flex-col rounded-[18px] shadow-lg">
            <div class="w-[156px] xl:w-full h-full bg-[var(--mud-palette-secondary)] flex justify-center items-center relative !rounded-[18px]">
                <div class="absolute top-[10px] left-[10px] xl:top-[15px] xl:left-[15px] bg-[var(--mud-palette-white)] text-[14px] text-center w-[70px] rounded-[5px]">
                    <p>Promoted</p>
                </div>
                <div class="w-[110px] xl:w-[180px]">
                    <MudImage Src="assets/products/apple.png"/>
                </div>
            </div>
            <ProductDetails />
        </div>
        <div class="h-[156px] xl:h-[530px] flex xl:flex-col rounded-[18px] shadow-lg">
            <div class="w-[156px] xl:w-full h-full bg-[var(--mud-palette-secondary)] flex justify-center items-center relative !rounded-[18px]">
                <div class="absolute top-[10px] left-[10px] xl:top-[15px] xl:left-[15px] bg-[var(--mud-palette-white)] text-[14px] text-center w-[70px] rounded-[5px]">
                    <p>Promoted</p>
                </div>
                <div class="w-[110px] xl:w-[180px]">
                    <MudImage Src="assets/products/lettuce.png"/>
                </div>
            </div>
            <ProductDetails />
        </div>
        <div class="h-[156px] xl:h-[530px] flex xl:flex-col rounded-[18px] shadow-lg">
            <div class="w-[156px] xl:w-full h-full bg-[var(--mud-palette-secondary)] flex justify-center items-center relative !rounded-[18px]">
                <div class="absolute top-[10px] left-[10px] xl:top-[15px] xl:left-[15px] bg-[var(--mud-palette-white)] text-[14px] text-center w-[70px] rounded-[5px]">
                    <p>Promoted</p>
                </div>
                <div class="w-[110px] xl:w-[180px]">
                    <MudImage Src="assets/products/avocado.png"/>
                </div>
            </div>
            <ProductDetails />
        </div>
        <div class="h-[156px] xl:h-[530px] flex xl:flex-col rounded-[18px] shadow-lg">
            <div class="w-[156px] xl:w-full h-full bg-[var(--mud-palette-secondary)] flex justify-center items-center relative !rounded-[18px]">
                <div class="absolute top-[10px] left-[10px] xl:top-[15px] xl:left-[15px] bg-[var(--mud-palette-white)] text-[14px] text-center w-[70px] rounded-[5px]">
                    <p>Promoted</p>
                </div>
                <div class="w-[110px] xl:w-[180px]">
                    <MudImage Src="assets/products/eggplant.png"/>
                </div>
            </div>
            <ProductDetails />
        </div>
    </div>
    @* <div class="absolute bottom-0 flex xl:hidden py-6 bg-white"> *@
        <div class="flex justify-center xl:hidden h-10">
            <MudForm class="h-[58px] w-full flex flex-row">
                <MudTextField
                    T="string"
                    Placeholder="Search product"
                    Class="bg-[var(--mud-palette-secondary)] !rounded-y-[10px] !rounded-l-[10px] h-full shadow-lg pt-[7px] pl-[20px] tracking-widest"
                    Style="color: var(--mud-palette-primary-darken)" />
                <MudButton Class="w-[55px] h-[58px] xl:w-[58px] xl:h-[58px] bg-[var(--lightgreen-color)] !rounded-y-[10px] !rounded-r-[10px] flex justify-center item-center shadow-lg">
                    <div>
                        <MudImage Src="assets/dashboard/navbar/search.svg" />
                    </div>
                </MudButton>
            </MudForm>
        @* </div> *@
    </div>
    
</section>
