@* <div class="xl:w-full inline-flex xl:flex mt-[20px] xl:mt-[50px]"> *@
<div class="grid xl:grid-cols-3 mt-[20px] xl:mt-[50px] gap-4 xl:gap-6">
    <MudButton
        Class="xl:h-[180px] bg-[var(--mud-palette-warning-darken)] rounded-[18px] flex items-end p-[20px] shadow-lg"
        EndIcon="@Icons.Material.Filled.ArrowForwardIos">
        <p class="normal-case font-[900] w-full text-start text-[18px]">Poultry</p>
    </MudButton>
    <MudButton
        Class="xl:h-[180px] bg-[var(--mud-palette-info-darken)] rounded-[18px] flex items-end p-[20px] shadow-lg"
        EndIcon="@Icons.Material.Filled.ArrowForwardIos">
        <p class="normal-case font-[900] w-full text-start text-[18px]">Fruits</p>
    </MudButton>
    <MudButton
        Class="xl:h-[180px] bg-[var(--mud-palette-primary-lighten)] rounded-[18px] flex items-end p-[20px] shadow-lg"
        EndIcon="@Icons.Material.Filled.ArrowForwardIos">
        <p class="normal-case font-[900] w-full text-start text-[18px]">Vegetables</p>
    </MudButton>
</div>

@* w-[340px] xl:w-[473px] *@